.login-page-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 80px;
  justify-items: center;
  width: 100vw;
  height: 100vh;
  margin: auto;
}

.login-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.login-heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 30px 0 10px;
}

.login-heading > h1 {
  color: #006ee9;
  font-size: 32px;
}

.login-heading > h3 {
  color: #9a9a9a;
  font-weight: 300;
}

.login-logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.login-logo {
  width: 80%;
  height: 90%;
  background: url('./assets/loginPagePic.png') no-repeat center;
  background-image: url('./assets/loginPagePic.svg');
  background-size: contain;
}

.login-btn {
  /* 
  transition: all 0.2s ease-in-out; */

  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  width: min(90%, 300px);
  height: 52px;
  background: #006ee9;
  color: white;
  box-shadow: 1px 2px 6px rgba(0, 110, 233, 0.1);
  border-radius: 10px;
  cursor: pointer;
}

.login-btn:active {
  background: #8799ad;
  transform: scale(0.96);
}

@media only screen and (min-width: 600px) {
  .login-page-container {
    width: 60vw;
    height: 95vh;
    margin: 20px auto;
    animation-name: login-box-shadow;
    animation-duration: 4s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.24);
  }

  @keyframes login-box-shadow {
    0% {
      box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.24);
      -webkit-box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.24);
    }

    50% {
      box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.12);
      -webkit-box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.12);
      -moz-box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.12);
    }

    0% {
      box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.24);
      -webkit-box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.24);
      -moz-box-shadow: 3px 2px 10px 4px rgba(0, 0, 0, 0.24);
    }
  }

  .login-heading > h1 {
    font-size: clamp(40px, 4vw, 50px);
  }

  .login-logo {
    width: 90%;
    height: 70%;
  }
}
