@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

#app {
  width: 1730px;
  height: 1120px;
}

header {
  width: 1728px;
  height: 1117px;
  position: relative;
  background-color: white;
}

.login-container {
  display: flex;
  margin-left: 181px;
  margin-top: 145px;
  width: 1313px;
  height: 820px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-align: center;
  /* border: 1px solid black; */
}

.title {
  margin-left: 144px;
  margin-top: 120px;
  text-align: center;
  /* border: 1px solid orange; */
}
.title h1 {
  color: #006ee9;
  font-size: 64px;
  font-weight: 700;
}
.title h2 {
  margin-top: 0.5rem;
  color: #9a9a9a;
  font-size: 28px;
  font-weight: 500;
}

.logo {
  margin-left: auto;
  margin-right: auto;
  margin-top: 54px;
  width: 476px;
  /* border: 1px solid red; */
}
.logo img {
  width: 476px;
  height: 388.21px;
}
.logo h3 {
  font-size: 20px;
  text-align: center;
  margin-top: 24px;
  font-weight: 500;
}

.blue-con {
  margin-left: 144px;
  width: 505px;
  height: 820px;
  background-color: #006ee9;
  text-align: center;
}
.blue-con h1 {
  margin-top: 290px;
  font-size: 48px;
  font-weight: 700;
  color: white;
}
.blue-con p {
  margin-top: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
  color: white;
}
.blue-con a {
  display: inline-block;
  margin-top: 40px;
  background-color: white;
  padding: 15px 40px;
  border-radius: 10px;
  text-decoration: none;
  color: black;
  font-size: 16px;
  font-weight: 700;
}
